
.CourseHeader
{
margin-left:10px; 
font-size:30px;
cursor:pointer
}

.CourseHeader.Black
{
margin-left:10px; 
font-size:0px;
cursor:pointer
}


.CourseHeader2
{
height:35px;
width:auto;
}

.CourseHeader2.Black
{
height:0px;
width:0px;
}


      .size{
        width:250px;
        height:auto;
      }

.severity {
 zoom: 1.5;
 width: 70px;
  height: auto;
}

.aidr{
 zoom: 1.5;
 width: 70px;
  height: auto;
}

.sentiment{
 zoom: 1.5;
 width: 70px;
  height: auto;
}

.image{
 zoom: 1.5;
 width: 70px;
  height: auto;
}

        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            width: 100%;
        }
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);

    background-color: rgba(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    align-content: left;
}

.overlay a {
    padding: 4px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    align-content: left;
}

.overlay a:hover, .overlay a:focus {
    color: #262626;
}

.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 45px;
    font-size: 60px;
    align-content: left;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 0px;
    right: 35px;
    align-content: left;
  }
}


.accordion {
    background-color: #479a37;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #50b036; 
}

.accordion:after {
    content: '\002B';
    color: #ffffff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.severitymaster {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    text-align: left;
    align-content: left;
}

.aidrmaster{
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    text-align: left;
    align-content: left;
}

.sentimentmaster{
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    text-align: left;
    align-content: left;
}

.imagemaster{
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    text-align: left;
    align-content: left;
}

input{
    width:20px;

    position:relative;
    left: 200px; 

    vertical-align:middle; 
}


label{  
    width:200px;       

    position:relative;
    left: -20px;

    display:inline-block;    
    vertical-align:middle; 
}
.slidecontainer {
   
   width: 100%;
}

.slider {
   position: relative;
   left: 110px;
   -webkit-appearance: none;
   width: 50%;
   height: 15px;
   border-radius: 5px;
   background: #d3d3d3;
   outline: none;
   opacity: 0.7;
   -webkit-transition: .2s;
   transition: opacity .2s;
}

.slider:hover {
   opacity: 1;
}

.slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background: #4CAF50;
   cursor: pointer;
}

.slider::-moz-range-thumb {
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background: #4CAF50;
   cursor: pointer;
}
.smallbutton{

   width: 20px;
   height:20px;
   padding: 3px;
   border: 5px solid #479a37;
   background-color: rgb(255, 255, 255);
   margin: 0;
}
.paralign{
 margin-top: 20px;
  position: relative;
   left: 208px;
}
/* width */
::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}