<% title = 'Choose Classification Code' %>
 <div class="bg">
  <form method="post" action="/verify">
    <input class="text_field" type="text" name="code" id="searchTxt">
    <button type="submit" class="btn">Submit</button>
  <form>
</div>
